{# Elevation Modal #}
<div class="modal fade" id="elevation_modal" tabindex="-1" role="dialog" aria-labelledby="elevation_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="elevation_modal_label">
                    <i class="fas fa-user-shield"></i> Elevate to Admin
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Enter your password to temporarily elevate your privileges to administrator.</p>
                <div class="form-group">
                    <label for="elevation_password">Password:</label>
                    <input type="password" class="form-control" id="elevation_password" placeholder="Enter your password">
                </div>
                <div id="elevation_error" class="alert alert-danger d-none" role="alert"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="elevation_submit">Elevate</button>
            </div>
        </div>
    </div>
</div>
